---
import Layout from "../layouts/Main.astro";
import BrandsSlide from "../components/BrandsSlide.jsx";
---

<Layout>
    <div class="h-screen">
        <h1>About GOcxm</h1>
        <BrandsSlide />
    </div>
</Layout>
