---
import Layout from "../layouts/Main.astro";
import "../styles/index.css";
import ContentDropdown from "../components/ContentDropdown.jsx";
const pageTitle = "Welcome to GOcxm";

const tableContent = [
	{
		title: "Table 1",
		content:
			"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, quisquam.",
	},
	{
		title: "Table 2",
		content:
			"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, quisquam.",
	},
	{
		title: "Table 3",
		content:
			"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, quisquam.",
	},
];
---

<Layout>
	<div class="h-screen text-sky-600">
		<h1>{pageTitle}</h1>
		<div>
			{
				tableContent.map((item, index) => (
					<ContentDropdown item={item} key={index} client:load />
				))
			}
		</div>
	</div>
</Layout>
