---
import Layout from "../layouts/Main.astro";
import "../styles/index.css";
import "../styles/solution.css";
const cardsDeck = [
    {
        image: "../../images/pic-businessman_2.png",
        title: "Zero & First Party Owned Data",
        content: "Signups Opt-ins Profiles Badges",
    },
    {
        image: "../../images/pic-businessman_2.png",
        title: "SKUs",
        content: "Locations Redemptions Disbursements Browsers Buyers",
    },
    {
        image: "../../images/pic-businessman_2.png",
        title: "Demographics",
        content:
            "Segments Behaviors Cohorts Look-A-Like Traits Predictive Analytics",
    },
    {
        image: "../../images/pic-businessman_2.png",
        title: "Purchase Verification",
        content: "Badges Rewards Retargeting Personalization",
    },
    {
        image: "../../images/pic-businessman_2.png",
        title: "Process Management",
        content: "Technology Support Prize Fulfillment",
    },
    {
        image: "../../images/pic-businessman_2.png",
        title: "Exclusive Access",
        content: "Single Sign-On Hub Surveys & Preferences",
    },
    {
        image: "../../images/pic-businessman_2.png",
        title: "Track behavior",
        content: "Unique triggers Robust data collection",
    },
];
---

<Layout>
    <div class="h-screen">
        <div class="relative block w-full border-box">
            <div class="w-full overflow-hidden">
                <div class="slider relative">
                    {
                        cardsDeck.map((item, index) => (
                            <div class="item relative block float-left border-box">
                                <div class="frame relative">
                                    <div class="frame-box front">
                                        <h1>{item.title}</h1>
                                    </div>
                                    <div class="frame-box left" />
                                    <div class="frame-box right" />
                                </div>
                            </div>
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
</Layout>
