---
import Sidebar from "../components/Sidebar";

const title = "GOcxm";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <script
            src="https://kit.fontawesome.com/b3e7c9e7bc.js"
            crossorigin="anonymous"
        ></script>
        <title>{title}</title></head
    >

    <body>
        <div>
            <slot />
        </div>
        <footer>
            <div class="flex justify-between">
                <div>
                    <img />
                    <p>670 Calendonia Road, Suite 300</p>
                    <p>Toronto, Ontario</p>
                    <p>+1 (877) 490-0003</p>
                </div>
                <div>
                    <div>
                        <p>Connect with Go</p>
                    </div>
                    <div class="flex items-center gap-2">
                        <i class="fa-2x fa-brands fa-facebook-f"></i>
                        <i class="fa-2x fa-brands fa-instagram"></i>
                        <i class="fa-2xl fa-brands fa-twitter"></i>
                        <i class="fa-2x fa-brands fa-linkedin-in"></i>
                    </div>
                </div>
            </div>
            <hr class="text-black" />
            <div class="flex justify-between">
                <div>
                    <p>©2023 gocxm.com All rights reserved.</p>
                </div>
                <div>
                    <a href="/privacy">Privacy Policy</a>
                    <a href="/terms">Accessibility statement</a>
                </div>
            </div>
        </footer>
    </body>
</html>
