---
import "../styles/index.css";
import "../styles/layout.css";
const title = "GOcxm";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <script
            src="https://kit.fontawesome.com/b3e7c9e7bc.js"
            crossorigin="anonymous"
        ></script>
        <title>{title}</title></head
    >

    <body>
        <slot />
        <footer class="footer-background px-12 py-6"> 
            <div class="flex justify-between items-end">
                <div>
                    <img class="py-4" width="84" src="../../GO-Logo_Black.png" />
                    <p>670 Calendonia Road, Suite 300</p>
                    <p>Toronto, Ontario</p>
                    <p class="font-semibold">+1 (877) 490-0003</p>
                </div>
                <div class="flex-cols jsutify-center gap4">
                    <div>
                        <p class="font-medium text-xl">CONNECT WITH GO</p>
                    </div>
                    <div class="flex items-center justify-center gap-4 py-3">
                        <i class="cursor-pointer fa-2x fa-brands fa-facebook-f"></i>
                        <i class="cursor-pointer fa-2x fa-brands fa-instagram"></i>
                        <i class="cursor-pointer fa-2xl fa-brands fa-twitter"></i>
                        <i class="cursor-pointer fa-2x fa-brands fa-linkedin-in"></i>
                    </div>
                </div>
            </div>
            <hr class="border-black py-2" />
            <div class="flex justify-between">
                <div>
                    <p class="text-sm ">©2023 gocxm.com All rights reserved.</p>
                </div>
                <div class="text-black underline font-medium">
                    <a class="text-black capitalize" href="/privacy">PRIVACY POLICY</a>
                    <a class="text-black" href="/terms"
                        >ACCESSIBILITY STATEMENT</a
                    >
                </div>
            </div>
        </footer>
    </body>
</html>
